<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<bindings>
			<binding name = "NetTcpBinding_IUserManager" >

				<reliableSession enabled="true" />
				<security mode = "none" >

					<transport sslProtocols="none"/>
				</security>
			</binding>
		</bindings>
		<client>
			<endpoint address = "net.tcp://localhost:1441/UserService"
                      binding = "netTcpBinding" bindingConfiguration="NetTcpBinding_IUserManager"
					  contract ="HiveGameService.IUserManager" name="NetTcpBinding_IUserManager"/>
		</client>
	</system.serviceModel>
</configuration>