<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
	  <add name="HiveEntities" connectionString="metadata=res://*/HiveEntityDataModel.csdl|res://*/HiveEntityDataModel.ssdl|res://*/HiveEntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-NLTCAKSA\SQLEXPRESS;initial catalog=Hive;user id=UsuarioHive;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="HiveDataModelEntity" connectionString="metadata=res://*/HiveDataModel.csdl|res://*/HiveDataModel.ssdl|res://*/HiveDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-NLTCAKSA\SQLEXPRESS;initial catalog=Hive;user id=UsuarioHive;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="HiveEntityDataModel" connectionString="metadata=res://*/HiveDataModel.csdl|res://*/HiveDataModel.ssdl|res://*/HiveDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-NLTCAKSA\SQLEXPRESS;initial catalog=Hive;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
	<log4net>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger{1} - %message%newline" />
			</layout>
		</appender>
		<appender name="File" type="log4net.Appender.RollingFileAppender">
			<file value="logs/logfile.txt" />
			<datePattern value="yyyy-MM-dd'-FULL.txt'" />
			<appendToFile value="true" />
			<preserveLogFileNameExtension value="true" />
			<rollingStyle value="Size" />
			<maximumFileSize value="2MB" />
			<maxSizeRollBackups value="5" />
			<staticLogFileName value="false" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>
		<root>
			<level value="Warn" />
			<appender-ref ref="ConsoleAppender" />
			<appender-ref ref="File" />
		</root>
	</log4net>
</configuration>